<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.5.16" targetFramework="net472" />
  <package id="Json.Net" version="1.0.16" targetFramework="net472" />
  <package id="json-serialize" version="1.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="OctoPack" version="3.6.4" targetFramework="net472" developmentDependency="true" />
  <package id="PostSharp" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Xaml" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Patterns.Xaml.Redist" version="6.0.33" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.0.33" targetFramework="net472" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net472" />
  <package id="Prism.StructureMap" version="7.1.0.431" targetFramework="net472" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net472" />
  <package id="StructureMap" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
</packages>